{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading" >اطلاعات کاربران</div>
        <div class="panel-body">
          <div class="col-md-12 col-md-offset-0">
            <table class="table">
              <tbody>
                <tr>
                  <th>نام</th>
                  <th>تعداد شیفت</th>
                  <th>ورودی</th>
                  <th>توانایی فشار خون گرفتن</th>
                </tr>
                {% for polluser in pollusers %}
                <tr>
                  <td><a href="{% url 'polls:user' polluser.pk %}">{{ polluser.show_name }}</a></td>
                  <td>{{polluser.f_usr_count}}</td>
                  <td>{{polluser.show_year}}</td>
                  <td>{{polluser.can_str}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
