<!DOCTYPE html>
<html lang="en">
<head>
    <title>غربال‌گری فشار خون</title>

  <style media="screen">
  @media screen and (max-width: 768px) {
    .logout-submit{
      float:left;
      margin: 14px 6px 0 0;
    }
  }
    .logout-submit{
      float:left;
      margin: 14px 13px 0 0;
    }
  </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation" >
        <div class="container">
          {% block data %}{% endblock %}
          {% if request.user.is_staff %}
          <a href="{% url 'polls:info' %}" class="logout-submit">اطلاعات شیفت ها</a>
          <a href="{% url 'polls:detail' %}" class="logout-submit">اطلاعات شرکت‌کنندگان</a>
          {% endif %}
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="{% url 'polls:home' %}">غربال‌گری فشار خون</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
