{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading" {% if section.anti_tatbiq %}style="color:red"{% endif %}>{{ section.show }}</div>
        <div class="panel-body">
          <div class="col-md-6 col-md-offset-0">
            <table class="table">
              <tbody>
                {% for polluser in pollusers %}
                <tr>
                  <td><a href="{% url 'polls:userinfo' polluser.pk %}">{{ polluser.show_name }}</a></td>
                  <td>{{polluser_usr_set.count}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
