{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% endblock %}
{% block content %}
<div class="container">

  {% if request.user.is_superuser %}
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">تنطیمات سایت</div>
        <div class="panel-body">
          <div class="col-md-12 col-md-offset-0">
            <label>وضعیت سایت</label>
            {% if config.site_online%}
            <form action="{% url 'polls:site_status' 0 %}" method="post">
              {% csrf_token %}
              <input type="submit" value="فعال" class="btn btn-success btn-xs" >
            </form>
            {% else %}
            <form action="{% url 'polls:site_status' 1 %}" method="post">
              {% csrf_token %}
              <input type="submit" value="غیر فعال" class="btn btn-danger btn-xs" >
            </form>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}


<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">اطلاعات شما</div>
      <div class="panel-body">
        <div class="col-md-12 col-md-offset-0">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>نام</td>
                <td>{{ polluser.first_name }}</td>
              </tr>
              <tr>
                <td>نام خانوادگی</td>
                <td>{{ polluser.last_name }}</td>
              </tr>
              <tr>
                <td>کد ملی</td>
                <td><a href="{% url 'polls:get_national_id' %}" style="color:black">{{ polluser.f_national_id }}</a></td>
              </tr>
              <tr>
                <td>شماره دانشجویی</td>
                <td>{{ polluser.f_student_number }}</td>
              </tr>
              <tr>
                <td>ورودی</td>
                <td>{{ polluser.show_year }}</td>
              </tr>
              <tr>
                <td>شماره تلفن</td>
                <td>{{ polluser.f_phone_number }}</td>
              </tr>
              <tr>
                <td>شماره حساب</td>
                <td><a href="{% url 'polls:get_payment_id' %}" style="color:black">{{ polluser.payment_id }}</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>



  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">شیفت های رزرو شده توسط شما</div>
        <div class="panel-body">
          <div class="col-md-12 col-md-offset-0">
          {% for usr in usr_detail %}
          <form action="{% url 'polls:delete' usr.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="لغو" class="btn btn-danger btn-xs" name="iii">
            <label {%if usr.section.anti_tatbiq%} {%endif%}>{{ usr.section.show }}</label>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


    <form action="{% url 'polls:home' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">شیفت های موجود</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">لطفا از میان شیفت های موجود شیفت های مورد نظر خود را انتخاب کنید</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="section_pk">
                          {% for day in section_detail %}
                          {% for section in day %}
                            <option value= {{section.pk}} > {{section.show_detail}} </option>
                          {% endfor %}
                          {% endfor %}
                      </select>
                    </div>
                    {% if config.site_online %}
                    <div class="col-md-6 col-md-offset-5 ">
                        <input type="submit" value="رزرو" class="btn btn-success ">
                    </div>
                    {% else %}
                    <p style="color : red">هم اکنون امکان رزرو شیفت وجود ندارد</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
