{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% if request.user.is_staff %}
<<a href="{% url 'polls:info' %}" class="logout-submit">اطلاعات شرکت‌کنندگان</a>>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">تایم های رزرو شده توسط شما</div>
        <div class="panel-body">
          <div class="col-md-6 col-md-offset-0">
          {% for usr in usr_detail %}
          <form action="{% url 'polls:delete' usr.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="لغو" class="btn btn-danger btn-xs" name="iii">
            <label for="iii">{{ usr.section.show }}</label>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


    <form action="{% url 'polls:home' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">شیفت های موجود</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">لطفا از میان شیفت های موجود شیفت های مورد نظر خود را انتخاب کنید</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="section_pk">
                          {% for day in section_detail %}
                          {% for section in day %}
                            <option value= {{section.pk}} > {{section.show_detail}} </option>
                          {% endfor %}
                          {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-6 col-md-offset-5 ">
                        <input type="submit" value="رزرو" class="btn btn-success ">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
