{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:register' %}"class="logout-submit">ثبت‌نام</a>
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'polls:login' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">ورود</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}

                    <div class="form-group clearfix">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">نام کاربری</label>
                        <div class="col-md-6">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">رمز ورود</label>
                        <div class="col-md-6">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="ورود" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
