{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:login' %}" class=" logout-submit">ورود</a>
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'polls:register' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">ثبت نام</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}

                    <div class="form-group clearfix">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">نام</label>
                        <div class="col-md-6">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">نام خانوادگی</label>
                        <div class="col-md-6">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">شماره دانشجویی</label>
                        <div class="col-md-6">
                            {{ form.student_number }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">شماره تلفن</label>
                        <div class="col-md-6">
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <!-- <div class="form-group clearfix">
                      <div class="col-md-6">
                        {{ form.entry_year }}
                      </div>
                    </div> -->
                    <div class="col-md-6">
                      <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">ورودی</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="entry_year">
                        {% for name in valid_entry %}
                        <option value={{forloop.counter}} >{{name}}</option>
                        {% endfor %}
                      </select>
                      <br>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">آیا از نحوه گرفتن فشار خون کاملا آگاهید؟</label>
                        <div class="col-md-6" >
                            {{ form.can_presure }}
                            <!-- <input type="checkbox" class="default">
                            <span class="slider round"></span> -->
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="ثبت‌نام" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
<!-- {% block scripts %}
<script type="text/javascript">
  $("[name='my-checkbox']").bootstrapSwitch();
</script>
{% endblock scripts %} -->
