{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading" {% if section.anti_tatbiq %}style="color:red"{% endif %}>{{ section.show }}</div>
      <div class="panel-body">
        <div class="col-md-6 col-md-offset-0">
          {% for usr in section.usr_set.all %}
            {% if usr.is_present %}
            <form action="{% url 'polls:chang_usr_present' usr.pk 0 %}" method="post">
            <input type="submit" value="حاضر" class="btn btn-success btn-xs" name="iii">
            {% else %}
            <form action="{% url 'polls:chang_usr_present' usr.pk 1 %}" method="post">
            <input type="submit" value="غائب" class="btn btn-danger  btn-xs" name="iii">
            {% endif %}
            {% csrf_token %}
            <a href="{% url 'polls:userinfo' usr.polluser.pk %}">{{ usr.polluser.show_name }}</a>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
