<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    table {
      border-collapse: collapse;
    }

    table, td {
      border: 1px solid black;
    }
    </style>
  </head>
  <body>
    <tbody>
      <table class="table">
    {% for sec_list in section_detail %}
    {% for section in sec_list %}
        <tr>
          <th>{{ section.show }}</th>
        </tr>
          {% for usr in section.usr_set.all %}
          <tr>
            <td>{{ usr.polluser.show_name }}</td>
            <td>{{ usr.polluser.f_student_number }}</td
            <td></td>
            <td>{{ usr.polluser.f_national_id }}</td>
          </tr>
          {% endfor %}
    {% endfor %}
    {% endfor %}
  </table>
</tbody>
  </body>
</html>
