<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    table {
      border-collapse: collapse;
    }

    table, td, th {
      border: 1px solid black;
    }
    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>نام</th>
          <th>ساعات حضور</th>
          <th>ساعات رزرو</th>
          <th>شماره دانشجویی</th>
          <!-- <th>کد ملی</th> -->
        </tr>
      </thead>
        <tbody>
        {% for polluser in pollusers %}
        <tr>
          <td>{{ polluser.show_name }}</td>
          <td>{{ polluser.f_total_time }}</td>
          <td>{{ polluser.f_reserved_time }}</td>
          <td>{{ polluser.f_student_number }}</td>
          <!-- <td>{{ polluser.f_national_id }}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
