{% extends "polls/base.html" %}
{% block data %}
<a href="{% url 'polls:logout' %}"class="logout-submit">خروج</a>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading" >دانشجویان غیر پزشکی که شیفت دارند</div>
        <div class="panel-body">
          <div class="col-md-12 col-md-offset-0">
            <table class="table">
              <tbody>
                <tr>
                  <th>نام</th>
                  <th>شماره دانشجویی</th>
                  <th>شماره تماس</th>
                </tr>
                {% for polluser in pollusers %}
                {% if polluser.is_gp_student %}
                {% else %}
                {% if polluser.usr_set.count %}
                <tr>
                  <td><a href="{% url 'polls:user' polluser.pk %}">{{ polluser.full_name }}</a></td>
                  <td>{{ polluser.f_student_number }}</td>
                  <td>{{ polluser.f_phone_number }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
